@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1C8EF9;
}

.login-inner {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.login-inner h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: #000000;
}

.login-container .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.login-inner .form-label,
.login-inner .form-control {
  color: #000000;
}

.login-img {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 30px;
}
